body {
  font-family: tahoma;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.picture {
  width: 300px;
  height: 300px;
}
.detail > * {
  margin-top: 10px;
}
span {
  color: #990033;
}
